.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
	
}
#data{
	border:1px solid #CCC;
	padding: 10px;
}

svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.bar{
	fill:steelblue;
}
h3 small{
	font-weight: normal;
}

.chart {
  background: #b0e0f8;
  margin: 5px;
}

.chart rect {
  stroke: none;
  fill: steelblue;
}

.chart rect:hover {
  fill: #64707D;
}

.chart text.bar-num {
  fill: white;
}

.chart text.name {
  fill: #000;
}

.chart line {
  stroke: #c1c1c1;
}

.chart .rule {
  fill: #000;
}